body {
    font-family: Roboto, Segoe UI, Helvetica, Arial, sans-serif;
    background: #E0E6E6;
    font-weight: 200;
    text-align: center;
    font-size: 3vw;

}

img{
    max-width: 4%;
    position: absolute;
    left: 1%;
    top: 2%;
}

h1 {
    font-size: 6vw;
    font-weight: 300;
    line-height: 55%;

}

h2 {
    font-size: 3vw;
    font-weight: 300;

}

p {
    color: #8AB661

}

.usrname {
    font-weight: bold;
    color: #FD8664;

}

/* big container div with titles*/
.divide {
    margin-top: 17vh;
    
    flex: 0 0 100vw;

}

.tip {
    color: #000;
    line-height: 55%;
}

.container {
    padding-left: 2%;
    cursor: pointer;
    font-size: 2vw;
    display: inline-block;
}
/* Hide the browser's default radio button */
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;
    top: 5vh;
    left: -4vw;
  }

  /* Create a custom radio button */
.checkmark {
    position: relative;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #ffffff;
    border-radius: 90%;
    display: block;
    margin-top: 5px;
    margin-left: -10px;
}
    
  }
/* On mouse-over, add a yellow background color */
.container:hover input ~ .checkmark {
    background-color: #FABE0E;

  }

/* When the radio button is checked, add a red background */
.container input:checked ~ .checkmark {
    background-color: #FD8664;
  }
  

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  
/*Trying and failing to set up scroll for mutliple questions*/
.helphowdoiscroll {
    display: flex;
    vertical-align: middle;
    
    overflow-x: scroll;
}